
h1, h2, h3, h4, h5 {
  font-family: "Futura" ;
}

html, body {
  height: 100%;
}

body {
  background-color: #c8d9f4;
}

.headings {
  font-family: "Futura", sans-serif;
}

.header {
  margin-bottom: 15px;
  margin-top: 5px;
  text-align:center;
  font-family: "Futura";
  border-bottom: 1px solid black;
  background-color: #c8d9f4;
}

.footer {
  margin-top:30px;
  border-top: 1px solid black;
}

ul {
  margin: 30px auto;
  text-align: center;
  padding-left:0;
}

 .header-list {
  display: inline-block;
  font-family: 'Futura', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 20px;
  border-bottom: 1px solid #c8d9f4;
  vertical-align: middle;
}

.footer-list {
 color: black;
 display: inline-block;
 font-family: 'Futura', sans-serif;
 font-size: 16px;
 text-align: center;
 font-weight: 300;
 text-transform: uppercase;
 padding: 0 20px;
 border-bottom: 1px solid white;
 vertical-align: middle;
}

.header-list:hover {
  color: white;
  /*border-bottom: 1px solid #CCC;*/
  text-decoration: none !important;
}

.footer-list:hover {
  color: white;
  text-decoration:none !important;
}

.header-logo:hover {
  opacity: 0.3;
}




a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.paralax {
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paralax-header {
  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:"Futura";
  text-align:center;
}

.manarola {
  background-image: url("manarola.JPG");
  background-size: contain;
  background-position: left;
}

.top {
  background-image: url("header-photo.png");
  color: white;
}

.bottom {
  background-image: url("juzcar.JPG");
}

.middle {
  background-color: rgba(232, 177, 167, 0.7);
  color: white;
}

.middle-bottom {
  background-color: rgb(16, 68, 20);
  color:white;
}

.bottomer {
  background-color: rgb(135, 22, 22);
  color:white;
}

.bottomest {
  background-image: url("canal.jpg");
}

.bottom-bottom {
  background-image: url("bavaria.JPG")
}

.about-me {
  font-family: "Lora", serif;
}

.titles {
  text-transform: uppercase;
}


.resume-header {
  text-transform: uppercase;
  background-image: url("norway.jpg");
  font-family: "Futura";
  color: white;
}


.edu {
  list-style-type: disc;
  text-align: left;
}



.name {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: -webkit-xxx-large;
}

.degree {
  font-size: x-large;
  letter-spacing: 2px;
}

.selected-page.header-list {
  color: white;
  border-bottom: solid 2px white;
}

.body-text {
  font-family: "Lora", serif;
}

.resume-intro{
  font-family: 'Lora', serif;
  text-align: center;
  font-size: -webkit-xxx-large;
}

.resume h3{
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
}

.resume p {
  font-family: "Lora", serif;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.resume h5, .resume h4 {
  font-family: "Lora", serif;
}

.row .resume {
  padding-bottom: 10px;
}

.download-resume {
    background-color: rgba(255, 0, 0, 0);
    border: 2px solid black;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.viewport {
  height: 100%;
}

.mouse-over {
  color: white;
  text-decoration-style: bold;
}

/*body {
  background: url(background_photo.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover:
  background-size: cover;
}*/
