
h1 {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.header {
  /*border-bottom: 1px solid #CCC;*/
  overflow-y: auto;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: white;
}

/*.footer {

  overflow-y: auto;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  background-color: white;
}*/

ul {
  margin: 30px auto;
  text-align: center;
}

 li {
  color: "black";
  display: inline-block;
  font-family: 'Futura-pt', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 20px;
  border-bottom: 1px solid white;
  vertical-align: middle;
}

.header-list:hover {
  color: #CCC;
  border-bottom: 1px solid #CCC;
}

li:hover {
  color: #CCC;
}

#header-logo:hover {
  opacity: 0.3;
}


.about {
  width: 90%;
  height: 3000px;
  border: solid 1px #CCC;
  position: absolute;
  left:5%;
  top:116px;
  overflow-y: scroll;
}

.who-am-i {
  width: 99%;
  height: 500px;
  border: 2px solid pink;
  margin: 0 auto;
}


a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #CCC;
  text-decoration: none;
}

.heading {
  width: 50%;
  float: left;
  margin: 0 auto;
  font-family: 'futura-pt';
  font-size: 36px;
  text-align: center;
}

.paragraph {
  width: 50%;
  float: right;
  margin: 0 auto;
  font-family: 'futura-pt', sans-serif;
  font-size: 20px;
  text-align: left;
  vertical-align: middle;
}
